<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome {{userDetails.first_name}} {{userDetails.last_name}}</h1>
            <p>Have a play and let me know what you think. <a href="mailto:hencoburger@gmail.com">hencoburger@gmail.com</a>
                <p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <nav-bar></nav-bar>
        </div>
        <div class="col-md-8">
            <content></content>
        </div>
    </div>
</div>
