<ul class="list-group">
    <li class="list-group-item">
        <h3>Examples</h3>
    </li>
    <li class="list-group-item" (click)="navigate('UsingThemes')">
        Using Themes
    </li>
    <li class="list-group-item" (click)="navigate('Scrollbar')">
        Built in scrollbar
    </li>
    <li class="list-group-item" (click)="navigate('Binding')">
        2 Way Binding
    </li>
    <li class="list-group-item" (click)="navigate('SaveDb')">
        Save To DB
    </li>
</ul>
