body{
  margin: 0px;
  padding: 0px;
}
div {
  margin: 0;
  padding: 0;
}
.nexap-left-pane {
  width:300px;
  height: 500px;
  /*display:inline-block;*/
  background-color: red;
  overflow: hidden;
  float: left;
}
.nexap-centre-pane {
  width:300px;
  height: 500px;
  /*display:inline-block;*/
  background-color: green;
  overflow: hidden;
  float: left;
}
.nexap-right-pane {
  width:300px;
  height: 500px;
  /*display:inline-block;*/
  background-color: yellow;
  overflow: hidden;
  float: left;
}
