<div class="container sign-up-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 nexap-sign-up-logo">
            <!-- <img src="../../assets/img/logo/nexap-logo-light.png"> -->
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form (submit)="signIn()">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" (model)="user.first_name" placeholder="eg. First Name saved to local DB.">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" (model)="user.last_name" placeholder="eg. Last Name saved to local DB.">
                </div>
                <button type="submit" class="btn btn-primary">Next</button>
            </form>
        </div>
    </div>
</div>
