<form style="height: 1000px;">
    <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" (model)="parent.userDetails.first_name" placeholder="">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label>
        <input type="text" class="form-control" (model)="parent.userDetails.last_name" placeholder="">
    </div>
</form>
