<h3>Save DB</h3>
<h5>User Model output</h5>
<pre>{{injectCode}}</pre>
<form (submit)="saveUserData()">
    <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" class="form-control" (model)="parent.userDetails.first_name" placeholder="">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Last Name</label>
        <input type="text" class="form-control" (model)="parent.userDetails.last_name" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Save Details</button>
</form>
